*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.section1{ 
    padding: 60px;
    filter: brightness(80%);

}

#gradient{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #af7171,#8f88d6);
}
.first{
    margin: 60px; 
}

.intro{
    color: chartreuse ;
    font-family: 'Brush Script MT', cursive;
    font-size: 150px;
}

@media screen and (min-width: 576px) {
    .intro {
        font-family: 'Brush Script MT', cursive;
        font-size: 50px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        font-family: 'Brush Script MT', cursive;
        font-size: 150px;
    }
}



